certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
google-api-core==2.30.3
google-auth==2.52.0
google-cloud-dialogflow-cx==2.5.0
google-cloud-discoveryengine==0.19.0
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.80.0
idna==3.14
proto-plus==1.28.0
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
requests==2.34.0
typing_extensions==4.15.0
urllib3==2.7.0
